body{
    margin:0px;
    overflow: hidden;
}

 #result{
        background-color: green;
        color:#fff;
        padding:20px;
      }
.row{
display:flex;
flex-direction: column;
align-items: center;

}


#main{
    width: 200%;
    height: 100vh;
    position: relative;
    top: 0px;
}

#box1{
    width: 50%;
    height: 100%;
    background: white;
    position:relative;
    top:0px;
    left:0px;
    float: left;
    }


    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
#reader > div > span > a {
    text-decoration: none;
    color: #F39B3C;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    user-select: none;
    cursor: unset;
}

#logo{
    align-items: center;
    width: 100%;
    margin-left: 850px;
    margin-top: 10px;
    height: 45px;
    
}


h4{
    margin-left: 240px;
}